<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPI_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RF_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SerialStatus_labels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <SPI_Control.Properties.Settings>
        <setting name="PortName" serializeAs="String">
          <value>COM1</value>
        </setting>
        <setting name="BaudRate" serializeAs="String">
          <value>9600</value>
        </setting>
        <setting name="DataBits" serializeAs="String">
          <value>8</value>
        </setting>
        <setting name="Parity" serializeAs="String">
          <value>None</value>
        </setting>
        <setting name="TransmissionType" serializeAs="String">
          <value>hex</value>
        </setting>
        <setting name="SPI_FirstBit" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SPI_ClockPolarity" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SPI_ClockPhase" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SPI_DataSize" serializeAs="String">
          <value>8</value>
        </setting>
        <setting name="SPI_BaudRate" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="Data_Source" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Data_Binary" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Data_String" serializeAs="String">
          <value />
        </setting>
      </SPI_Control.Properties.Settings>
      <RF_Control.Properties.Settings>
        <setting name="PortName" serializeAs="String">
          <value>COM1</value>
        </setting>
        <setting name="BaudRate" serializeAs="String">
          <value>9600</value>
        </setting>
        <setting name="DataBits" serializeAs="String">
          <value>8</value>
        </setting>
        <setting name="Parity" serializeAs="String">
          <value>None</value>
        </setting>
        <setting name="TransmissionType" serializeAs="String">
          <value />
        </setting>
        <setting name="SPI_FirstBit" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SPI_ClockPolarity" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SPI_ClockPhase" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SPI_DataSize" serializeAs="String">
          <value>8</value>
        </setting>
        <setting name="SPI_BaudRate" serializeAs="String">
          <value>1</value>
        </setting>
      </RF_Control.Properties.Settings>
      <SerialStatus_labels.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="TransmissionType" serializeAs="String">
                <value/>
            </setting>
        </SerialStatus_labels.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
